@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{
    overflow-x: hidden;
}

main{
    padding: 1rem;
    margin: auto;
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    color: white;
}

h1>span {
    color: #A6FF96;
}

main > form{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: center;
}


main>form>div.input-area{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

main>form>div.input-area>input{
    padding: 2rem;
    font-size: 1.75rem;
    margin: 1rem;
    border: 2px solid #A6FF96;
    background-color: transparent;
    color: white;
}

main>form>div.input-area>textarea {
    padding: 2rem;
    margin: 1rem;
    font-size: 1.75rem;
    border: 2px solid #A6FF96;
    background-color: transparent;
    color: white;
}

main>form>div.input-area>div.checkbox_area{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main>form>div.input-area>div.checkbox_area>div.checkbox_item{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-family: 'Comfortaa', sans-serif;
    gap: 0.5rem;
    margin: 1.5rem;
}

main>form>div.input-area>div.checkbox_area>div.checkbox_item>input[type="checkbox"] {
    transform: scale(2);
}


main>form>div.input-area>div.details {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    
main>form>div.input-area>div.details>div.details_item {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-family: 'Comfortaa', sans-serif;
    gap: 0.5rem;
    margin: 1.5rem;
}
    
main>form>div.input-area>div.details>div.details_item>input[type="number"] {
    font-size: 2rem;
    width: 90px;
    height: 50px;
    border: 2px solid #A6FF96;
    border-radius: 10px;
    background-color: transparent;
    color: #A6FF96;
}

main>form>div.input-area>div.details>div.price>input[type="number"] {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
}

main>form>div.input-area>div.details>div.details_item>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>form>div.input-area>div.details>div.details_item>div>p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

main>form>div.input-area>div.details>div.details_item>div>span{
    font-size: 0.75rem;
    margin-top: 0;
}


main>form>div.image-area {
    margin-top: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;   
}

main>form>div.image-area>p{
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
}

main>form>div.image-area>p>span{
    font-size: 1.4rem;
    font-weight: lighter;
}

main>form>div.image-area>div.imageBox{
    padding: 2rem;
}

main>form>div.image-area>div.imageBox>input{
    padding: 1.5rem 3rem;
    border: 1px solid #A6FF96;
    font-size: 1rem;
    font-family: 'Comfortaa', sans-serif;
    color: #A6FF96;
}

main>form>div.image-area>div.imageBox>button{
    background-color: transparent;
    color: #A6FF96;
    font-weight: bold;
    border: 3px solid #A6FF96;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 500ms ease-in-out;
}

main>form>div.image-area>div.imageBox>button:hover {
    background-color: #A6FF96;
    color: black;
    font-weight: bold;
    border: 3px solid black;
}

main>form>div.image-area>button{
    padding: 1rem 2rem;
    width: 75%;
    margin-top: 3rem;
    font-size: 1.75rem;
    background-color: #A6FF96;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

main>form>div.image-area>button:hover{
    opacity: 90%;
}

main>form>div.image-area>button:disabled {
    opacity: 70%;
}



@media (max-width: 1000px) {
    h1{
        font-size: 2rem;
    }

    main>form {
        flex-direction: column;
    }

    main>form>div.input-area {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main>form>div.input-area>input {
        width: 80%;
        padding: 1rem;
        font-size: 1.25rem;
        margin: 0.69rem;
        border: 1px solid #A6FF96;
    }
    
    main>form>div.input-area>textarea {
        width: 80%;
        padding: 1rem;
        margin: 0.69rem;
        font-size: 1.25rem;
        border: 1px solid #A6FF96;
    }

    main>form>div.input-area>div.checkbox_area {
        margin-top: 1rem;
    }
    
    main>form>div.input-area>div.checkbox_area>div.checkbox_item {
        font-size: 0.85rem;
        gap: 0.5rem;
        margin: 1rem;
    }

    main>form>div.input-area>div.checkbox_area>div.checkbox_item > input[type="checkbox"]{
        transform: scale(1);
    }



    main>form>div.input-area>div.details {
        margin-top: 1rem;
    }

    main>form>div.input-area>div.details>div.details_item {
        font-size: 0.85rem;
        gap: 0.5rem;
        margin: 1rem;
    }

    main>form>div.input-area>div.details>div.details_item>input[type="number"] {
        font-size: 1.15rem;
        width: 60px;
        height: 40px;
        border: 1px solid #A6FF96;
    }

    main>form>div.input-area>div.details>div.price>input[type="number"] {
        font-size: 1rem;
        width: 100px;
        height: 30px;
    }


    main>form>div.input-area>div.details>div.details_item>div>p {
        font-size: 1rem;
    }
    
    main>form>div.input-area>div.details>div.details_item>div>span {
        font-size: 0.55rem;
        margin-top: 0;
    }


    main>form>div.image-area {
        width: 100%;
        padding-top: 1rem;
    }
    
    main>form>div.image-area>p {
        font-size: 1.4rem;
    }
    
    main>form>div.image-area>p>span {
        font-size: 1rem;
    }

    main>form>div.image-area>div.imageBox {
        padding: 0.75rem;
    }
        
    main>form>div.image-area>div.imageBox>input {
        padding: 0.75rem 0.75rem;
        font-size: 0.8rem;
    }
        
    main>form>div.image-area>div.imageBox>button {
        border: 1px solid #A6FF96;
        padding: 0.5rem 0.5rem;
        margin: 0.35rem;
    }
        
    main>form>div.image-area>div.imageBox>button:hover {
        border: 1px solid white;
    }

        main>form>div.image-area>button {
            padding: 1rem 1rem;
            width: 75%;
            margin-top: 2rem;
            font-size: 1.25rem;
        }
    
        main>form>div.image-area>button:hover {
            opacity: 90%;
        }
    
        main>form>div.image-area>button:disabled {
            opacity: 70%;
        }

}